[submodule "doubtfire-web"]
	path = doubtfire-web
	url = https://github.com/lachlandurra/doubtfire-web.git
[submodule "doubtfire-api"]
	path = doubtfire-api
	url = https://github.com/lachlandurra/doubtfire-api.git
[submodule "doubtfire-overseer"]
	path = doubtfire-overseer
	url = https://github.com/doubtfire-lms/doubtfire-overseer.git
